@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

.btn.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all .4s ease;
}

.btn.white{
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: all .4s ease;
}

.btn.white:hover{
  background: #088178;
  border: 1px solid #088178;
}

.btn.normal:hover{
  background-color: #088178;
  color: #fff;
}


/* navigation bar */

.heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: sticky;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  z-index: 999;
}

.nav-menu{
  display: flex;
  align-items: center;
  gap: 4rem;

}

.nav-menu li a{
  position: relative;
}

.nav-menu li a{
  font-weight: 700;
  font-size: 18px;
  color: #1a1a1a;
  transition: all .4s ease;
}

.nav-menu li a.active::after,
.nav-menu li a:hover::after{
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  bottom: -4px;
  background: #088178;
  left: 0;
}

.nav-menu li a:hover,
.nav-menu li a.active{
  color: #088178;
}

.logo img{
  width: 150px;
}

.mobile{
  display: flex;
  gap: 18px;
  font-size: 24px;
  display: none;
}
.close{
  display: none;
}

/* home */
.homepage{
  background: url(./img/hero4.png);
  width: 100%;
  height: 90vh;
  background-position: top 25%, right 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 80px;
}

.home-content h4{
  margin-bottom: 1rem;
}

.home-content span h1{
  color: #088178;
}

button{
  background: url(./img/button.png);
  padding: 14px 80px 14px 65px;

}

button .home-btn{
  font-size: 16px;
  font-weight: 700;
  color: #088178;
}

/* hero */

.hero{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;

}

.hero-box{
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7de;
  border-radius: 4px;
  margin: 15px 0;
  transition: all .5s ease;
}
.hero-box:hover{
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.5);

}


.hero-box h5{
  margin-top: 20px;
  display: inline-block;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  padding: 9px 8px 6px 8px;
  background: #fddde4;
}

.hero-box:nth-child(2) h5{
  background: #d1e882;
}

.hero-box:nth-child(3) h5{
  background: #cdebbc;
}

.hero-box:nth-child(4) h5{
  background: #cdd4f8;
}

.hero-box:nth-child(5) h5{
  background: #f6db26;
}

.hero-box:nth-child(2) h5{
  background: #fff2e5;
}

/* features product */

.features h1,
.features p{
  text-align: center;
}

.feature-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.feature{
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #cce7de;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
  cursor: pointer;
  transition: all .4s ease;
  position: relative;
}

.feature-img img{
  border-radius: 10px;
}
.feature:hover{
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.09);

}

.feature-content{
  margin-top: 1.5rem;
}

.feature-content h5{
  margin: 6px 0 8px;
}

.coin{
  margin-top: 6px;
}

.star{
  color: #f6db26;
  font-size: 14px;
}

.feature .cart-bag{
  border-radius: 50%;
  color: #088178;
  background: #e8f6e9;
  width: 40px;
  height: 40px;
  font-size: 20px;
  position: absolute;
  right: 12px;
  bottom: 20px;
  display: grid;
  place-items: center;
  transition: all .4s ease;
}

.feature .cart-bag:hover{
  background: rgba(0, 0, 0, 0.09);

}

/* banner */

.banner-home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  height: 40vh;
  background: url(./img/banner/b2.jpg);
  background-position: center;
  background-size: cover;
}

.banner-home h1,
.banner-home h4{
  color: #fff;
}

.banner-home h1{
  padding: 1rem 1.9rem;
}

.banner-home h1 span{
  color: #ef3636;
}

/* banner box */

.banner-box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.small-banner{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 50vh;
  background: url(./img/banner/b17.jpg);
  background-position: center;
  background-size: cover;
  padding: 30px;
}

.banner-2{
  background: url(./img/banner/b10.jpg);
  background-size: cover;
  background-position: center;

}

.small-banner h4{
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}


.small-banner h2{
  color: #fff;
  font-size: 28px;
  font-weight: 800;
}


.small-banner p{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

/* banner boxes */

.box-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 30vh;
  background: url(./img/banner/b7.jpg);
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin-bottom: 30px;
}

.box-container h2{
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}

.box-container h4{
  color: #fff;
  font-weight: 500;
  font-size: 18px;
}


.box-2{
  background: url(./img/banner/b16.jpg);
  background-size: cover;
  background-position: center;

}
.box-3{
  background: url(./img/banner/b4.jpg);
  background-size: cover;
  background-position: center;

}

.container-boxes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

/* newsletter */

.newsletter{
  background-image: url("./img/banner/b14.png");
  background-position: 20% 30%;
  background-color: #041e42;

}

.newsletter .news{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsletter .news h2{
  font-weight: 700;
  color: #fff;
}


.newsletter .news p{
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.newsletter .news p span{
  color: #ffbd27;
}

.newsletter input{
  height: 3rem;
  padding: 0rem 1rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  outline: none;
}

.newsletter .normal{
  font-size: 14px;
  font-weight: 600;
  display: block;
  display: grid;
  place-content: center;
  padding: 9px 35px;
  color: #fff;
  background: #088178;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transition: all .4s ease;
}


.newsletter .form{
  display: flex;
}

/* footer */

footer{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}

.col{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.col a{
  font-size: 1rem;
  font-weight: 600;
  color: #1a1a1a;
  transition: all .4s ease;
}

.col a:hover{
  color: #088178;
  text-decoration: underline;
}


.icons{
  margin-top: 1rem;
}

.icons i{
  margin-right: 12px;
  font-size: 1.4rem;
  cursor: pointer;
  transition: .4 ease;
}

.icons i:hover{
  transform: scale(1.3);
}

.install .row{
  display: flex;
  gap: .6rem;
}

.row img{
  border: 1px solid #088178;
  padding: 10px 8px;
  cursor: pointer;
}


/*==========  shop  ========== */

/* shop banner */

.shop-banner{
  width: 100%;
  height: 40vh;
  background: url(./img/banner/b1.jpg);
  display: flex;
  flex-direction: column;
  padding: 14px;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.shop-banner h1,
.shop-banner p{
  color: #fff;
}


/* pagination */
.pagination{
  text-align: center;
  margin-top: 30px;
}

.pagination a{
  background: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
/*==========  product detail  ========== */

.product-detail{
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 5rem;
  margin-top: 20px;

}

.product-detail .single-image{
  width: 100%;
  margin-right: 50px;
}

.small-img-group{
  display: flex;
  justify-content: space-between;
}

.small-img{
  margin-top: 10px;
  flex-basis: 24%;
  cursor: pointer;
}

.product-detail .single-details{
  width: 60%;
  padding-top: 30px;
}

.product-detail .single-details h4{
  padding: 40px 0px 20px 0px;
}

.product-detail .single-details h2{
  font-size: 26px;
}

.product-detail .single-details select{
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #088178;

}

.flex-cart{
  display: flex;
}

.product-detail .single-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #088178;
}

.product-detail .single-details .normal{
  border: 1px solid #088178;
  
}

.product-detail .single-details input:focus{
  outline: none;
}

.product-detail .single-details p{
  line-height: 25px;
}

/*==========  blog  ========== */

/* blog banner */

.blog-banner{
  width: 100%;
  height: 40vh;
  background: url(./img/banner/b19.jpg);
  display: flex;
  flex-direction: column;
  padding: 14px;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.blog-banner h1,
.blog-banner p{
  color: #fff;
}

.blog{
  padding: 150px 150px 0 150px;
}

.blog-box{
  display: grid;
  align-items: center;
  grid-template-columns: 40% 45%;
  gap: 5rem;
  margin-bottom: 90px;
  position: relative;
}

.blog-img img{
  height: 50vh;
  background-position: center;
}

.blog-desc a{
  font-weight: 700;
  font-size: 14px;
  color: #000;
  transition: all .2s ease-out;
}

.blog-desc a:hover{
  color: #088178;
}

.blog-box h2{
  position: absolute;
  top: -30px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbc0;
  z-index: -10;
}

/* responsives in tablet */


@media screen and (max-width: 1024px) {
  h1{
      font-size: 2.2rem;
  }
  h2{
      font-size: 1.7rem;
  }
  h3{
      font-size: 1.4rem;
  }
  h4{
      font-size: 1.2rem;
  }

  h5{
    font-size: 1rem;
  }

  /* navbar */

  .heading{
    padding: 10px 30px;
  }

  .nav-menu{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    width: 300px;
    height: 80vh;
    top: 0;
    right: -300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0px 0px 10px;
    transition: .4s ease;
  }

  .nav-menu.active{
    right: 0px;
  }

  .cart{
    display: none;
  }

  .mobile{
    display: block;
    display: flex;
  }

  .close{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 24px;
    color: #222;
    display: initial;
  }

  /* homepage */
  .homepage{
    background-position: top 30% right 30%;
    padding: 0px 80px;
    height: 70vh;
  }

  /* hero */

  .hero{
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .feature-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
/* banner  */
  .banner-home{
    height: 20%;
    padding: 20px;
    width: 100%;
  }

  .banner-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .small-banner{
    background-position: right 25%;
    background-size: cover;
  }

  /* container boxes */

  .container-boxes{
    grid-template-columns: repeat(2, 1fr);
  }

  /* newsletter */
  .newsletter{
    height: 35vh;
    padding: 2rem;
  }
  .newsletter .news{
    display: flex;
    flex-direction: column;
  }

  /* footer */

  footer{
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }

  .install{
    margin-top: 1rem;
  }

  /* product page */

  .product-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /* product detail */

  .product-detail .single-details{
    width: 100%;
    padding-top: 10px;
  }

  .product-detail .single-details h4{
    padding: 20px 0px 10px 0px;
  }

  /* blog */

  .blog-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
 
}


/* phone responsive */

@media screen and (max-width: 600px){

h1{
    font-size: 2rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 1rem;
}

h5{
  font-size: .8rem;
}
 .heading{
  padding: 10px 20px;
 }

 .homepage{
  background-position: 55%;
  padding: 0px 30px;
}

 .hero{
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.feature-container{
  grid-template-columns: repeat(1, 1fr);
  padding: 10;
  gap: 1rem;
}

.container-boxes{
  grid-template-columns: repeat(1, 1fr);
}

footer{
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

.blog-box{
  align-items: center;
}

.blog-box h2{
  font-size: 55px;
}

}

/* smallest device */

@media screen and (max-width: 477px){
  .heading{
    padding: 10px 10px;
   }

   .install .row{
    display: flex;
    flex-direction: column;
   }

   .hero{
    grid-template-columns: 1fr;
   }

   .blog-box h2{
    font-size: 24px;
  }

}
